.header {
    background-color: var(--color-accent);
    padding-block: 2rem;
    padding-inline: 1rem;
}

.header__container {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

.header__brand {
    font-weight: var(--text-black);
    display: flex;
    align-items: center;
}

.nav__ul {
    display: flex;
    gap: 2rem;
    font-weight: var(--text-bold);
    align-items: center;
}

.contact {
    background-color: var(--color-secondary-light);
    padding-block: 5rem;
    padding-inline: 1rem;
}

.contact__container {
    max-width: var(--max-width);
    margin-inline: auto;
    text-align: left;
    display: grid;
    gap: 2rem;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact__content {
    display: grid;
    gap: 2rem;
}

.contact__image {
    margin-inline: auto;
}

.contact__list {
    display: grid;
    gap: 0.5rem;
}

.contact__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact__link:hover {
    transform: scale(1.1);
}

.contact__link:active {
    transform: scale(0.9);
}

.footer {
    background-color: var(--color-accent);
    padding-block: 2.5rem;
    padding-inline: 1rem;
}

.footer__container {
    max-width: var(--max-width);
    margin-inline: auto;
    text-align: center;
}

.footer__developer {
    font-weight: var(--text-bold);
}

.product__images {
    width: 100%;
}

.product__image {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-inline: auto;
}


.copy__button {
    height: 50px;
    width: 50px;
}

.copy__button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.copy__button:active {
    transform: scale(0.9);
}

.copy__svg {
    stroke: var(--color-primary);
}

.thumbs {
    height: 100%;
    display: grid;
    max-width: 400px;
    margin-inline: auto;
    gap: 1rem;
    justify-content: flex-start;
}

.thumbs__carrousel {
    width: 100%;
}

.pagination__container {
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem;
}

.pagination__btn {
    background-color: var(--color-primary);
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    border-radius: 5px;
}

.pagination__current {
    opacity: 0.5;
}

.pagination__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.pagination__btn:active {
    transform: scale(0.9);
}

.pagination__current:hover {
    transform: none;
}

.pagination__current:active {
    transform: none;
}

.pagination__svg {
    width: 20px;
}

.pagination__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination__link {
    color: #fff;
    font-weight: var(--text-bold);
}